[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-crum = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2 = "*"
firebase-admin = "*"
authlib = "*"
django-health-check = "*"
azure-cosmos = "*"
django-cors-headers = "*"
django-allow-cidr = "*"
gunicorn = "*"
whitenoise = "*"
django-rest-swagger = "*"
drf-yasg = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
azure-appconfiguration = "*"
azure-appconfiguration-provider = "*"

[dev-packages]

[requires]
python_version = "3.11"
