[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-crum = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg2 = "*"
firebase-admin = "*"
authlib = "*"
django-health-check = "*"
azure-cosmos = "*"

[dev-packages]

[requires]
python_version = "3.11"
